.part_1{
    height: 700px;
    background-color: black;
    .texts{
        margin-top: 150px;
        h2{
            color: white;
            font-size: 3.3rem;
        }
        p{
            span{
                font-weight: 600;
            }
            margin-top: 20px;
            color: white;
            font-size: 1.3rem;
        }
    }
    .button{
        display: flex;
        margin-top: 40px;
        button{
            padding: 15px;
            background-color: #4561ec;
            color: white;
            font-weight: 600;
            border: none;
            border-radius: 7px;
            width: 150px;
        }
        .button2{
            margin-left: 10px;
            button{
                background-color: black;
                border: 1px solid #4561ec;
                color: #4561ec;
            }
        }
    }

    .img_overlay{
        margin-top: 100px;
        margin-left: 40px;
        max-width: 534px;
        max-height: 534px;
        width: 100%;
        height: 300%;
        
        border-radius: 50%;
        background-color: #7E93FB;
        img{
            bottom: unset;
            width: 302.38px;
            height: 611.16px;
            margin: -20px -50px -50px 115px;
        }
    }
}