.discover{
    margin-top: 100px;
    .container{
        background-color: #f4f6ff;
        width: 90%;
        margin: 0 auto;
        h2{
            color: black;
            font-size: 3.4rem;
            max-width: 400px;
            font-weight: 650;
            margin-top: 100px;
            margin-left: 130px;
            margin-bottom: 100px;
        }
        img{
            margin-top: 100px;
            width: 150px;
            padding-left: 10px;
            margin-left: 60px;
        }
    }
  
}